# Configuración de MySQL
MYSQL_HOST=localhost
MYSQL_USER=tu_usuario
MYSQL_PASSWORD=tu_password
MYSQL_DB=mantenimiento

# Configuración de Flask
SECRET_KEY=your-secret-key-here
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/control_mantenimiento
FLASK_ENV=development
FLASK_DEBUG=1
